html {
  font-size: 18px;
  line-height: 1.4;
}
body {
  font-family: Helvetica, sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header section */
header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  padding-top: 1rem;
  display: block;
}
#top-nav {
  background-color: cadetblue;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: white;
}
#logo {
  display: flex;
  align-items: center;
}
header .container img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
nav li {
  display: inline;
  margin-right: 2rem;
}
nav a {
  text-decoration: none;
  color: white;
}
#headline.container {
  display: flex;
  justify-content: flex-end;
}
header h1 {
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  display: inline;
}
 /* Main body */
main {
  display: flex;
  flex-direction: column;
}

/* Icons with labels */
#icon-gallery {
  display: flex;
  justify-content: center;
}
.icon-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
  height: 8rem;
  width: 5rem;
  text-align: center;
}
.paper-icon {
  width: 3.5rem;
  height: auto;
}
.ruler-icon {
  width: 5rem;
  height: auto;
}
.truck-icon {
  width: 5rem;
  height: auto;
}
/* Info banners with text */
#info {
  display: flex;
  justify-content: flex-start;
}
.info-item {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}
.info-item h3 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  max-width: 10rem;
}

/* Footer section */
footer {
  background-color: azure;
  padding: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* Medium sized screen media query */
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  header {
    padding-top: 0;
    height: 22rem;
  }
  #top-nav {
    width: 100%;
    /*position: fixed;*/
  }
  header h1 {
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    margin-right: 2rem;
  }
  #info {
    display: flex;
    justify-content: center;
  }
}
