html {
  font-size: 18px;
  line-height: 1.4;
}
body {
  font-family: Helvetica, sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header section */
header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
  display: block;
}
#top-nav {
  background-color: cadetblue;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: white;
}
#logo {
  display: flex;
  align-items: center;
  /*margin: 1rem 0 1rem 2rem;*/
}
header .container img {
  height: 1.5rem;
  margin-right: 1rem;
  margin-left: 2rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
nav li {
  display: inline;
  margin-right: 2rem;
}
nav a {
  text-decoration: none;
  color: white;
}
#headline.container {
  display: flex;
  justify-content: flex-end;
}
header h1 {
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  display: inline;
}
